* {
  box-sizing: border-box;
}
#root{
  width: 100%;
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
}

.login-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  padding: 40px 60px;
  text-align: center;
  width: 460px;
  animation: fadeIn 0.8s ease;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

.title {
  color: #28a2d6;
  font-size: 28px;
  margin-bottom: 6px;
}
.subtitle {
  color: #555;
  margin-bottom: 30px;
}
.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.form input:focus {
  outline: none;
  border-color: #28a2d6;
  box-shadow: 0 0 4px #106e96;
}

.form button {
  width: 100%;
  padding: 12px;
  background-color: #28a2d6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #138ec2;
}

.input-group {
  position: relative;
  width: 100%;
}
.input-group input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}
.input-icon {
  position: absolute;
  right: 12px;
  top: 35%;
  transform: translateY(-50%);
  pointer-events: none;
}

.input-icon.valid {
  color: limegreen;
}

.input-icon.invalid {
  color: red;
}

.s-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.s-text a {
  color: #28a2d6;
  text-decoration: none;
  font-weight: bold;
}

.s-text a:hover {
  text-decoration: underline;
}
.instructions {
  font-size: 0.9rem;
  background-color: #fff4f4;
  color: #b22222;
  border-left: 4px solid #d62828;
  border-radius: 6px;
  padding: 10px 12px;
  margin-top: -8px;
  margin-bottom: 10px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.3s ease-in-out;
}

.instructions > svg {
  margin-right: 6px;
  color: #d62828;
}

.instructions span {
  font-weight: 600;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
